<!DOCTYPE html>
<html lang="ru-ru">
<head>
    <meta charset="utf-8">
    <title>Mandarin</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,400italic,500,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
    <input type="hidden" value="{{ csrf_token }}" id="csrf-token">
    <div class="header">
        <div class="logo">
            <img alt="logo" src="/static/img/mandarinni.png">
        </div>
        <div class="search">
            <i class="icon fa fa-search"></i>
            <input type="text" name="search" id="search" placeholder="Search">
        </div>
        <div class="user-block">
            {% if request.user.is_authenticated %}
                <div class="username">{{ request.user.username }}</div>
                <a href="/logout/">
                    <i class="icon fa fa-sign-out"></i>
                </a>
            {% else %}
                <div class="username">Log in</div>

                <a class="sign-in-show">
                    <i class="icon fa fa-sign-in"></i>
                </a>
                <div class="sign-in-popup">
                    <form action="/login/"  method="post">
                        {% csrf_token %}
                        <div class="table">
                            <div class="login">
                                <label>Name:</label>
                                <input type="text" name="username"/>
                            </div>
                            <div class="registration">
                                <label>Email:</label>
                                <input type="email" name="email" disabled>
                            </div>
                            <div class="login">
                                <label>Password:</label>
                                <input type="password" name="password"/>
                            </div>
                            <div class="registration">
                                <label>Repeat:</label>
                                <input type="password">
                            </div>
                        </div>
                        <a class="registration-link">Регистрация</a>
                        <button type="submit">Войти</button>
                    </form>
                </div>
            {% endif %}
            <!--<a class="logout" href="#"></a>-->
        </div>
    </div>

    <div class="main-content clearfix">
        <div class="menu">
            <ul class="menu-list">
                <li>
                    <a class="create" href="#"></a>

                    <p class="block-to-show">Create</p>
                </li>
                <li>
                    <a class="list active" href="#"></a>

                    <p class="block-to-show">All tasks</p>
                </li>
                <li>
                    <a class="done" href="#"></a>

                    <p class="block-to-show">Done</p>
                </li>
                <li>
                    <a class="invite" href="#"></a>

                    <p class="block-to-show">Add friends</p>
                </li>
            </ul>
        </div>

        <div class="list-window">
            <div class="top-container clearfix">
                <p class="top-container-title">All tasks</p>

                <div class="sort-block">
                    <p>Sort by</p>
                    <select>
                        <option value="dt">
                            date
                        </option>
                        <option value="imp">
                            importance
                        </option>
                    </select>
                </div>
            </div>
            <div class="task-container">
                <!--Обход всех списков-->
                {% for list in lists %}
                    {% if not list.is_archived %}
                        {% include "list.html" with list=list %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="task-container archived">
                {% for list in lists %}
                    {% if list.is_archived %}
                        {% include "list.html" with list=list request=request%}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="edit-window">
            <div class="top-container clearfix">
                <div class="edit-head">
                    <input id="list-title" type="text" value="" placeholder="Название списка" maxlength="40">

                    <div class="task-date">
                        11.11.2015
                    </div>
                </div>
            </div>

            <div class="edit-container">
                <div class="tasks"></div>
                <div class="add-task">
                    <i class="icon fa fa-plus"></i>
                    <span>Новое задание</span>
                </div>
                <div class="tasks-done"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="/static/js/tasks.js"></script>

<div class="users-popup">
    <div class="users-permitted">
        <div class="user-add">
            <i class="fa fa-plus"></i>
            <span>Добавить пользователя</span>
        </div>
        <div class="added-users"></div>
    </div>
    <div class="users-add-search">
        <input class="users-search" type="text" placeholder="Начните поиск">
        <div class="found-users">
            <div class="no-users-found">
                Пользователи не найдены
            </div>
            <img class="loading" src="/static/img/load.gif">
        </div>
    </div>
</div>

</body>
</html>